<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>



<%= render "devise/shared/links" %>



<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign up and Subscribe Form A Flat Responsive Widget Template  :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Sign up and Subscribe Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
		
	<link href="css/style.css" rel='stylesheet' type='text/css'/>
	<link href="css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
	<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">

		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
			<script src="js/jquery.min.js"></script>
			<script>$(document).ready(function(c) {
			$('.alert-close').on('click', function(c){
				$('.main-agile').fadeOut('slow', function(c){
					$('.main-agile').remove();
				});
			});	  
		});
		</script>
</head>
<body>
<div class="layer">
	<h1>Sign up & Subscribe Form</h1>
	<div class="main-agile1">
		<div class="w3layouts-main">
					<h2>Sign Up with</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

					
						<div class="social_icons agileinfo">
							<ul class="top-links">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
						</div>
						
						<span>(or)</span>
						<h3>Have an account?</h3>
						<form action="#" method="post">
							<div class="email">
						 <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
							<span class="icons i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
							</div>
							<div class="email">

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  
							<span class="icons i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
							</div>
							<%= f.submit "Sign up" %>
						</form>
		</div>
		<div class="main-agile">
			<div class="alert-close"> </div>
			<div class="content-wthree">
				<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
				<h2>Subscribe</h2>
				<p>subscribe to get our latest updates!</p>
				<p>drop a mail to join our newsletter for free news</p>
				<form action="#" method="post">
					<div class="email">
					<input type="email"  class="email" name="eamil" placeholder="Enter Your Email" required="">
					<span class="icons i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
					</div>
					<input type="submit" value="Subscribe">
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="footer-w3l">
		<p class="agileinfo"> &copy; 2017 Sign Up and Subscribe Form. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	</div>
</div>
<% end %>
</body>
</html>


