<div class="container">
 <div class="row col-12-sm text-center justify-content-center" style="margin-bottom: 5rem;">
    <div class="d-flex flex-wrap">
      <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 35rem;">
        <div class="card-body">
        <h5 class="card-title">My Adulting Score</h5>
        <h6 class="card-subtitle mb-2 text-muted">Finance: <%= @user_score.finance %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Housing: <%= @user_score.housing %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Cars: <%= @user_score.cars %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Travel: <%= @user_score.travel %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Technology: <%= @user_score.technology %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Lifestyle: <%= @user_score.lifestyle %></h6>
        <%= link_to "Update Your Adulting Score!", edit_score_path %>
        </div>
    </div>