<h3 class="topic-head">Latest from Adulting</h3>
<div class="first-deck card-deck">

  <div class="card border-primary" style="width: 18rem">
    <img class="card-img-top" src="/assets/finanace.png" alt="Card image cap">
  <div class="card border-primary shadow p-3 mb-5 bg-white rounded" style="width: 18rem">
    <img class="card-img-top" src="/assets/car.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="topic card-title">Finance</h5>
       <%= link_to "Finances", posts_finance_path %>
      <p class="card-text">Finance can be defined as the science of money management. Personal finance may involve paying for education, financing durable goods such as real estate and cars, buying insurance, e.g. health and property insurance, investing and saving for retirement.</p>
    </div>
   
  </div>

  <div class="card border-primary" style="width: 18rem">
    <img class="card-img-top" src="/assets/house.png" alt="Card image cap">
  <div class="card border-primary shadow p-3 mb-5 bg-white rounded" style="width: 18rem">
    <img class="card-img-top" src="/assets/car.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="topic card-title">Housing</h5>
       <%= link_to "Housing", posts_housing_path %>
      <p class="card-text">Housing refers to houses or buildings collectively; accommodation of people; planning or provision of accommodation by an authority; and related meanings. The social issue is of ensuring that members of society have a home in which to live, whether this is a house, or some other kind of dwelling, lodging, or shelter.</p>
    </div>
  
  </div>

  <div class="card border-primary" style="width: 18rem">
    <img class="card-img-top" src="/assets/car.png" alt="Card image cap">

  <div class="card border-primary shadow p-3 mb-5 bg-white rounded" style="width: 18rem">
    <img class="card-img-top" src="/assets/car.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="topic card-title">Cars</h5>
       <%= link_to "Cars", posts_cars_path %>
      <p class="card-text">A car (or automobile) is a wheeled motor vehicle used for transportation. Most definitions of car say they run primarily on roads, seat one to eight people, have four tires, and mainly transport people rather than goods</p>
    </div>
    
  </div>
</div>
<br>
<div class="second-deck card-deck">

  <div class="card border-primary" style="width: 18rem">
    <img class="card-img-top" src="/assets/travel.png" alt="Card image cap">
  <div class="card border-primary shadow p-3 mb-5 bg-white rounded" style="width: 18rem">
    <img class="card-img-top" src="/assets/antique.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="topic card-title">Travel</h5>
      <%= link_to "Travel", posts_travel_path %>
      <p class="card-text">Travel is the movement of people between distant geographical locations. Travel can be done by foot, bicycle, automobile, train, boat, bus, airplane, or other means, with or without luggage, and can be one way or round trip. Travel can also include relatively short stays between successive movements.</p>
    </div>
    
  </div>

  <div class="card border-primary" style="width: 18rem">
    <img class="card-img-top" src="/assets/tech.png" alt="Card image cap">
  <div class="card border-primary shadow p-3 mb-5 bg-white rounded" style="width: 18rem">
    <img class="card-img-top" src="/assets/car.jpg" alt="Card image cap">

    <div class="card-body">
      <h5 class="topic card-title">Technology</h5>
      <%= link_to "Technology", posts_technology_path %>
      <p class="card-text">Technology ("science of craft", from Greek τέχνη, techne, "art, skill, cunning of hand"; and -λογία, -logia) is first robustly defined by Jacob Bigelow in 1829 as: "...principles, processes, and nomenclatures of the more conspicuous arts, particularly those which involve applications of science, and which may be considered useful, by promoting the benefit of society, together with the emolument [compensation] of those who pursue them". </p>
    </div>
   
  </div>
  <div class="card border-primary" style="width: 18rem">
    <img class="card-img-top" src="/assets/lifestyle.png"

  <div class="card border-primary shadow p-3 mb-5 bg-white rounded" style="width: 18rem background-image: url(?assets/car.jpg">
     <img class="card-img-top" src="/assets/car.jpg"> 
    <div class="card-body">
      <h5 class="topic card-title">Lifestyle</h5>
      <%= link_to "Lifestyle", posts_lifestyle_path %>
      <p class="card-text">A lifestyle typically reflects an individual's attitudes, way of life, values, or world view. Therefore, a lifestyle is a means of forging a sense of self and to create cultural symbols that resonate with personal identity. Not all aspects of a lifestyle are voluntary. Surrounding social and technical systems can constrain the lifestyle choices available to the individual and the symbols she/he is able to project to others and the self.</p>
    </div>
   
  </div>
</div>

<div class="card bg-dark text-white" style="width: 18rem">
  <img class="card-img" src="/assets/car.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>