
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Title: <%= @post.title %></h1>

          <!-- Author -->
          <p class="lead">
            Topic:
            <%= @post.topic %>
          </p>
            <p class="lead">
            by:
            <%= "#{@post.user.first_name}"%> <%= "#{@post.user.last_name}" %>
            <% if @post.user_id == current_user.id %>
              <%= link_to 'Delete this post. ', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>

          <hr>
          <p>Created <%= time_ago_in_words(@post.created_at) %> ago.</p>

          <hr>
          <%= image_tag "#{@post.post_pic}", class: "img-fluid rounded" %>
          <!-- Preview Image -->
         

          <hr>
            <%= @post.content %>
          <hr>

          <!-- Likes Form -->
          <div class="card my-4">
            <h5 class="card-header">Like post: <%= link_to @like_count, like_path %></h5>
            <div class="card-body">
              <%= bootstrap_form_for(@like) do |f| %>
                <%= f.hidden_field(:post_id, value: "#{@post.id}") %>
                <%= f.hidden_field(:user_id, value: "#{current_user.id}") %>
                <%= f.submit "Like", disabled: @is_user_liked %>
              <% end %>
            </div>
          </div>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <%= bootstrap_form_for(@comment) do |f| %>
              <%= f.text_area :content %>
              <%= f.hidden_field(:post_id, value: "#{@post.id}")%>
              <%= f.hidden_field(:user_id, value: "#{current_user.id}") %>
              <%= f.submit "Comment" %>
              <% end %>
            </div>
          </div>

          <!-- Single Comment -->
          <% @post.comments.each do |comment| %>
          <div class="media mb-4">
            <%= image_tag "#{comment.user.picture}", class: "d-flex mr-3 rounded-circle" %>
            <div class="media-body">
              <h5 class="mt-0"><%= comment.user.username %></h5>
              <%= comment.content %>
            </div>
            <% if comment.user_id == current_user.id %>
              <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
          <% end %>

        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

