<!DOCTYPE html>
<html>
  <head>
    <title>Adulting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

  <div id="flipkart-navbar" style="background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); box-shadow: 5px 5px 3px grey;">
    
     <span>
    <%= link_to image_tag("logo.png"), home_index_path, style: "margin-top:28px; position:absolute; padding-left:40px;"%>
    </span>
    
    <div class="container">
        <nav class="row row1 stroke">
            <ul class="largenav pull-right">
                <li class="upper-links shake"><%= link_to "Finances", posts_finance_path, class: "links" %></li>
                <li class="upper-links shake"><%= link_to "Housing", posts_housing_path, class: "links" %></li>
                <li class="upper-links shake"><%= link_to "Cars", posts_cars_path, class: "links" %></li>
                <li class="upper-links shake"><%= link_to "Travel", posts_travel_path, class: "links" %></li>
                <li class="upper-links shake"><%= link_to "Technology", posts_technology_path, class: "links" %></li>
                <li class="upper-links shake"><%= link_to "Lifestyle", posts_lifestyle_path, class: "links" %></li>
                <li class="upper-links">
                </li>
                <li class="upper-links dropdown"><a class="links2" href="#">Posts</a>
                    <ul class="dropdown-menu">
                        <li class="profile-li"><%= link_to "New", new_post_path, class: "links" %></li>
                         <li class="profile-li"><%= link_to "All Posts", posts_path, class: "links" %></li>
                    </ul>
                </li>
                   <li class="upper-links dropdown"><a class="links2" href="#">Account</a>
                    <ul class="dropdown-menu">
                        <li class="profile-li"><%= link_to "View Profile", current_user, class: "links" %></li>
                        <li class="profile-li"><%= link_to "Account Settings", edit_user_registration_path, class: "links" %></li>
                        <li class="profile-li"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "links" %></li>
                    </ul>
                </li>
                   
                <li class="upper-links">
                  <%= form_tag(search_index_path, :method => "get", id: "search-form", style: "margin-top:13px;") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search for Topics, Users and more", style: "width:200px" %>
                    <%= submit_tag "Search", :name => nil %>
                  <% end %>
            </li>
            </ul>
        </nav>
        <div class="row">
            <div class="col-sm-2">
                <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ Adulting</span></h2>
            
            </div>
           
       <!--<div class="container">
  <button class="btn btn-default btn-sm btn-link links" style="font-size:30px;">
    <span class="glyphicon glyphicon-bullhorn"></span>
  </button>
  <span class="badge badge-notify">3</span>
</div>-->
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: #2874f0; padding-top: 10px;">
        <span class="sidenav-heading">Home</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <li class="upper-links"><%= link_to "Finances", posts_finance_path, class: "links" %></li>
  <li class="upper-links"><%= link_to "Housing", posts_housing_path, class: "links" %></li>
  <li class="upper-links"><%= link_to "Cars", posts_cars_path, class: "links" %></li>
  <li class="upper-links"> <%= link_to "Travel", posts_travel_path, class: "links" %></li>
  <li class="upper-links"> <%= link_to "Technology", posts_technology_path, class: "links" %></li>
  <li class="upper-links">   <%= link_to "Lifestyle", posts_lifestyle_path, class: "links" %></li>
</div>
<%= yield %>
<ul>
  <li class="upper-links"><%= link_to "Finances", posts_finance_path, class: "links" %></li>
  <li class="upper-links"><%= link_to "Housing", posts_housing_path, class: "links" %></li>
  <li class="upper-links"><%= link_to "Cars", posts_cars_path, class: "links" %></li>
  <li class="upper-links"> <%= link_to "Travel", posts_travel_path, class: "links" %></li>
  <li class="upper-links"> <%= link_to "Technology", posts_technology_path, class: "links" %></li>
  <li class="upper-links">   <%= link_to "Lifestyle", posts_lifestyle_path, class: "links" %></li>
</ul>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4" style="background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); color: white;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <li class="upper-links"><%= link_to "Finances", posts_finance_path, class: "links" %></li>
          </li>
          <li>
            <li class="upper-links"><%= link_to "Housing", posts_housing_path, class: "links" %></li>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <li class="upper-links"><%= link_to "Cars", posts_cars_path, class: "links" %></li>
          </li>
          <li>
            <li class="upper-links"> <%= link_to "Travel", posts_travel_path, class: "links" %></li>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <li class="upper-links"> <%= link_to "Technology", posts_technology_path, class: "links" %></li>
          </li>
          <li>
            <li class="upper-links">   <%= link_to "Lifestyle", posts_lifestyle_path, class: "links" %></li>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <% if user_signed_in? %>
      <li class="list-inline-item">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
      <button type="button" class="btn btn-primary"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link links" %></button>
      </li>
      <li class="list-inline-item">
     <button type="button" class="btn btn-secondary"><%= link_to "Login", new_user_session_path, class: "nav-link links" %></button>
      </li>
    <% end %>
  </ul>
  <!-- Call to action -->


  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Adulting.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  </body>
</html>
